/*navigation*/

/*end navigation*/

/* home page */
#brands {
    padding: 0.8em 0;
}
#brands ul {
    display: inline-block;

}

#brands ul li {
    list-style-type: none;

}

#brands ul li img {
    transition: 0.5s;
}
#brands ul li img:hover {
    overflow: hidden;
    transform: scale(1.15);
}

.featured {
    display: inline-block;
    padding: 0.5em;
}

.price {
    font-weight: bold;
}

.carousel-caption a {
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: underline;
    font-weight: bold;
}

/* end home page */

/*details page*/
.score-label {
    padding: 0.5em;
}

.padding-05-0 {
    padding: 0.5em 0;
}

#details .price {
    padding-top: 0;
    margin-top: 0;
}

#side-column {
    margin-top: 1em;
}

#details h2.price, #rent-btn {
    margin-top: 0.5em;

}

#rent-btn {
    margin: 1.2em 0 0 1.2em;

}

