@-moz-keyframes slide-in-ltr {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}
@-webkit-keyframes slide-in-ltr {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}
@-o-keyframes slide-in-ltr {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes slide-in-ltr {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}
